= simple_form_for(@empregado) do |f|
  = f.error_notification

  .form-inputs
    = f.input :nome
    = f.input :endereco, label: "Endereço"
    = f.input :cidade
    = f.association :empregador, label_method: :nome

  .form-actions
    = f.submit "Salvar"
